In [24]:
    word = str("test")
    
    
    
    if len(word)% 2 == 0:
        print(word[0], '- четное число')
    else:
        print(word[1:2], '- нечетное число')

t - четное число

In [26]:
    word = str("testing")
    
    
    
    if len(word)% 2 == 0:
        print(word[0], '- четное число')
    else:
        print(word[1:3], '- нечетное число')

es - нечетное число

In [8]:
a = 0
x ='введите число'
while x != 0:
    x = int(input())
    a += x
    print(a)

10
10
10
20
0
20

In [107]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [184]:
print(str(boys[0]))
print(str(boys[1]))

Peter
Alex

In [112]:
boys_girls = zip(sorted(boys),sorted(girls))
if len(boys) == len (girls):
    print (list(boys_girls))
else:
    print("без пары")

[('Alex', 'Emma'), ('Arthur', 'Kate'), ('John', 'Kira'), ('Peter', 'Liza'), ('Richard', 'Trisha')]

In [130]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [137]:
THA=countries_temperature[0]
GER=countries_temperature[1]
RUS=countries_temperature[2]
Pol=countries_temperature[3]

['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]] ['Germany', [57.2, 55.4, 59, 59, 53.6]] ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]] ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]

In [141]:
Thailand= sum(list(THA[1])) // len(THA[1])
Germany=sum(list(GER[1])) // len(GER[1])
Russia=sum(list(RUS[1])) // len(RUS[1])
Poland=sum(list(Pol[1])) // len(Pol[1])
print(Thailand,Germany,Russia,Poland)

74.0 56.0 38.0 53.0

In [163]:
CThailand = (Thailand-32)/(1+8/10)
CGermany = (Germany-32)/(1+8/10)
CRussia = (Russia-32)/(1+8/10)
CPoland = (Poland-32)/(1+8/10)
print(CThailand,CGermany,CRussia,CPoland)

23.333333333333332 13.333333333333332 3.333333333333333 11.666666666666666

x=user_1[-1-2:]+user_2[-1-2:]
print(x)